/* ######################## Initial Prompt Window ######################## */
.initial_window_rootPane{
	-fx-background-color: transparent;
}

.logo_conatiner{
	-fx-background-color: transparent;
}

.body_conatiner{
	-fx-padding: 4;
 	-fx-background-color: rgba(68, 83, 115, 1);
    -fx-border-color: rgba(89, 19, 32, 0.3);
    -fx-border-width: 2;
    -fx-border-radius: 14;
    -fx-background-radius: 15;
}

.btn_encrypt, .btn_decrypt {
	-fx-text-fill: rgb(255, 255, 255);
	-fx-background-color: rgba(255, 255, 255, 0.1);
	-fx-border-color: rgb(255, 255, 255);
	-fx-border-width: 1 1 1 1;
	-fx-padding: 1;
	-fx-border-radius: 3 3 3 3;
	-fx-font-family: 'Open Sans';
	-fx-font-size: 14px;
}

.btn_encrypt:hover, .btn_decrypt:hover{
	-fx-cursor: hand;
  	-fx-border-color: rgb(2, 150, 10);
}

.logo
{
	-fx-image: url("/com.raman.gui/icons/logo.png");
}

.txt_welcome
{
	-fx-text-fill: rgb(89, 19, 32);
	-fx-font-family: 'Amble CN';
	-fx-font-weight: bold;
	-fx-font-size: 19px;
}


/* ######################## Password Prompt Window ######################## */

.rootPane_password
{
	/* -fx-background-color: #eae0de;   -fx-opacity: 0.5;  -fx-alignment: 
	 	-fx-background-image: url("/com.raman.gui/icons/background.jpg");
  	-fx-background-repeat: stretch;
 	-fx-background-position: center center;
	 * */
	 
	-fx-padding: 4;
 	-fx-background-color: rgba(68, 83, 115, 1);
    -fx-border-color: rgba(89, 19, 32, 0.3);
    -fx-border-width: 2;
    -fx-border-radius: 14;
    -fx-background-radius: 15;
}

.error_messages
{
	-fx-prompt-text-fill: rgb(89, 19, 32);
	-fx-font-family: 'Wingdings';
	-fx-font-weight: bold ;
	-fx-font-size: 10px;
}

.passwordField
{
	-fx-prompt-text-fill: #d3d3d3;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-border-color: rgb(163, 213, 230);
	-fx-border-width: 1 1 1 1;
	-fx-padding: 3 3 3 3;
	-fx-background-radius: 3 3 3 3;
	-fx-border-radius: 3 3 3 3;
	-fx-font-family: 'Wingdings';
	-fx-font-size: 14px;
}

.error_messages_container{
	-fx-padding: 0 0 0 33;
}

.btn__password_close, .btn_password_confirm
{
	-fx-text-fill: rgb(255, 255, 255);
	-fx-background-color: rgba(255, 255, 255, 0.1);
	-fx-border-color: rgb(163, 213, 230);
	-fx-border-width: 1 1 1 1;
	-fx-padding: 3 3 3 3;
	-fx-border-radius: 3 3 3 3;
	-fx-font-family: 'Open Sans';
	-fx-font-size: 13px;	
}

.btn__password_close:hover, .btn_password_confirm:hover{
  -fx-cursor: hand;
  -fx-padding: 2 2 2 2;
  -fx-font-size: 14px;
  -fx-border-color: rgb(2, 150, 10);
}

.passwordField:hover{
  -fx-border-color: rgb(2, 150, 10);
}

/* ######################## Help Window ######################## */
.root_help_message{
	-fx-padding: 4;
 	-fx-background-color: rgba(68, 83, 115, 1);
    -fx-border-color: rgba(89, 19, 32, 0.3);
    -fx-border-width: 2;
    -fx-border-radius: 14;
    -fx-background-radius: 15;
}

.txt_contact_developer{
	-fx-text-fill: rgb(255, 255, 255);
	-fx-font-family: 'Open Sans';
	-fx-font-size: 20px;
}

.txt_email{
	-fx-text-fill: rgb(255, 255, 255);
	-fx-font-family: 'Open Sans';
	-fx-font-size: 11px;
}

.txt_email:hover{
  -fx-cursor: hand;
  -fx-text-fill: rgb(136, 211, 192);
}

.btn_help_close:hover{
  -fx-cursor: hand;
  -fx-border-color: rgb(2, 150, 10);
}

.btn_help_close
{
	-fx-text-fill: rgb(255, 255, 255);
	-fx-background-color: rgba(255, 255, 255, 0.1);
	-fx-border-color: rgb(163, 213, 230);
	-fx-border-width: 1 1 1 1;
	-fx-padding: 3;
	-fx-border-radius: 3 3 3 3;
	-fx-font-family: 'Open Sans';
	-fx-font-size: 13px;	
}