/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* ######################## Initial Prompt Window ######################## */
.initial_window_rootPane{
	-fx-background-color: #eae0de;  
	-fx-background-radius: 15;
	-fx-padding: 0 2 2 2;
}

.btn_encrypt, .btn_decrypt
{
	-fx-background-radius: 50;
}

.logo
{
	-fx-image: url("/com.raman.gui/icons/logo.png");
}

.txt_welcome
{
	-fx-font-size: 14;
	-fx-text-fill: red;
}


/* ######################## Password Prompt Window ######################## */

.rootPane_password
{
	/* -fx-background-color: #eae0de;   -fx-opacity: 0.5;  -fx-alignment: 
	 	-fx-background-image: url("/com.raman.gui/icons/background.jpg");
  	-fx-background-repeat: stretch;
 	-fx-background-position: center center;
	 * */
	 
	-fx-padding: 4;
 	-fx-background-color: rgba(68, 83, 115, 1);
    -fx-border-color: rgba(89, 19, 32, 0.3);
    -fx-border-width: 2;
    -fx-border-radius: 14;
    -fx-background-radius: 15;
}

.error_messages
{
	-fx-prompt-text-fill: rgb(89, 19, 32);
	-fx-font-family: 'Wingdings';
	-fx-font-weight: bold ;
	-fx-font-size: 10px;
}

.passwordField
{
	-fx-prompt-text-fill: #d3d3d3;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-border-color: #d3d3d3;
	-fx-border-width: 1 1 1 1;
	-fx-padding: 3 3 3 3;
	-fx-background-radius: 3 3 3 3;
	-fx-border-radius: 3 3 3 3;
	-fx-font-family: 'Wingdings';
	-fx-font-size: 14px;
}

.btn__password_close, btn_password_confirm{
	
}