/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.rootPane
{
	-fx-background-color: #eae0de;
	-fx-background-radius: 15;
	-fx-padding: 0 2 2 2;
}

.rootPane_password
{
	-fx-background-color: #eae0de;
	-fx-background-radius: 10;
	-fx-padding: 2 2 2 2;
}

.txt_welcome
{
	-fx-font-size: 14;
	-fx-text-fill: red;
}

.btn_encrypt, .btn_decrypt
{
	-fx-background-radius: 50;
}

.logo
{
	-fx-image: url("icons/logo.png");
}

.error_messages
{
	-fx-prompt-text-fill: red;
	-fx-font-family: 'Wingdings';
	-fx-font-size: 9px;
}

.passwordField
{
	-fx-prompt-text-fill: #d3d3d3;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-border-color: #d3d3d3;
	-fx-border-width: 1 1 1 1;
	-fx-padding: 3 3 3 3;
	-fx-background-radius: 3 3 3 3;
	-fx-border-radius: 3 3 3 3;
	-fx-font-family: 'Wingdings';
	-fx-font-size: 14px;
}