/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.rootPane
{
	-fx-padding: 4;
 	-fx-background-color: rgba(68, 83, 115, 1);
    -fx-border-color: rgba(89, 19, 32, 0.5);
    -fx-border-width: 2;
    -fx-border-radius: 14;
    -fx-background-radius: 15;
}

.panel_header
{
	-fx-background-radius:  15 15 0 0;
}

.panel_body
{
	 
}

.footer_panel
{
	/* -fx-background-color: #e2f92f; */
}

.txt_title{
	-fx-text-fill: rgb(89, 19, 32);
	-fx-font-family: 'Amble CN';
	-fx-font-weight: bold;
	-fx-font-size: 17px;
}

.txt_message
{
	-fx-text-fill: rgb(237, 248, 255);
	-fx-font-family: 'Wingdings';
	-fx-font-size: 12px;
}

.btn_close, .btn_yes, .btn_no, .btn_retry
{
	-fx-text-fill: rgb(255, 255, 255);
	-fx-background-color: rgba(255, 255, 255, 0.1);
	-fx-border-color: rgb(89, 19, 32);
	-fx-border-width: 1 1 1 1;
	-fx-padding: 3;
	-fx-border-radius: 3 3 3 3;
	-fx-font-family: 'Open Sans';
	-fx-font-size: 13px;	
}

.btn_close
{
	-fx-text-fill: rgb(89, 19, 32);
}

.btn_close:hover, .btn_yes:hover, .btn_no:hover, .btn_retry:hover{
  -fx-cursor: hand;
  -fx-border-color: rgb(2, 150, 10);
}
